<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interview.heruijun.com.modulethreadpool">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".activity.ThreadPoolActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activity.FixedThreadPoolActivity" />
        <activity android:name=".activity.ScheduledThreadPoolActivity" />
        <activity android:name=".activity.CachedThreadPoolActivity" />
        <activity android:name=".activity.SingleThreadExecutorActivity" />

    </application>

</manifest>
